# Create executables/builds/artifacts for C & C++ code
name: Create executables for C & C++ code

on:
  push:
    branches: [ "main", "develop", "stagging" ]
  pull_request:
    branches: [ "main", "develop", "stagging" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install build tools
      run: sudo apt-get update && sudo apt-get install -y build-essential
      
    - name: make
      run: make
      
    - name: make check
      run: |
        echo "Below are the list of files in $(pwd)"
        ls -lrt
        # scp cal.exe <IP>:/home/ubuntu/
        # ssh <IP> cd /home/ubuntu
        # ./cal.exe

