name: C/C++ CI

on:
  push:
    branches: [ "main", "develop", "stagging" ]
  pull_request:
    branches: [ "main", "develop", "stagging" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install build tools
      run: sudo apt-get update && sudo apt-get install -y build-essential
      
    - name: make
      run: make
      
    - name: make check
      run: make check
      
    - name: make distcheck
      run: make distcheck
